In [56]:
import pandas as pd
from scipy import stats
import numpy as np

In [12]:
df1=pd.read_csv('train.csv')

In [13]:
df2=pd.read_csv('train_labels.csv')

In [14]:
pd.options.display.max_colwidth = 600

In [15]:
game_df=df1[df1['type']=='Game']

In [16]:
filtered_game_df=game_df[(game_df['event_code']==4020)]

In [17]:
def event_sorter(ent,cols):
    df=pd.DataFrame(index=range(0,len(ent)),columns=cols)
    c=df.columns
    num=0
    for i in ent:
        e=0
        #print(i)

        for k in i:
            cc=c[e]
            df[cc][num]=k
            e=e+1
            #print(k)
        num=num+1
    return df

In [18]:
def unique_col_names(col_list,unique_ending):
    new_col_list=[]
    for col in col_list:
        n_col=col + "_" + unique_ending
        new_col_list.append(n_col)
    return new_col_list

In [19]:
def sub_dict_parser(dict_list):
    for j in dict_list:
        if pd.notnull(j):
            k=[*j]
            break
    df=pd.DataFrame(index=range(0,len(dict_list)),columns=k)
    io=0
    for o in k:
        io=0
        for i in dict_list:
            if pd.notnull(i):
                df[o][io]=i.get(o)
                io=io+1
    return df

In [20]:
def handle_strings(df):
    dum_df=df
    for i in final_game_df_all.columns:
        n=df[i]
        
        if (type(n.values[0]).__name__ =='str')|(type(n.values[0]).__name__ =='bool'):
            dum=pd.get_dummies(n)
            dum_df=pd.concat([dum_df,dum],axis=1)
            dum_df.drop(i,axis=1,inplace=True)
    return dum_df

In [21]:
def unique_list(list_d):
    u_l=[]
    for i in list_d:
        if i not in u_l:
            u_l.append(i)
    return u_l

In [57]:
def change_list_val_str(df,portion):
    emp_list=[]
    for i in df[portion]:
        emp_list.append(str(i))
    df[portion]=emp_list
    return df

In [22]:
import json
f1=filtered_game_df[filtered_game_df['title']=='Chow Time']
f1['indy']=range(0,len(f1['installation_id']))
ct_df=pd.io.json.json_normalize(f1.event_data.apply(json.loads))
f1.set_index('indy',inplace=True)
import numpy as np
po=0
scale_avg=[]
for i in ct_df['scale_contents']:
    #print(i)
    scale_avg.append(np.mean(i))
ct_df['scale_contents_avg']=scale_avg
ct_df.drop('scale_contents',axis=1,inplace=True)
ct_df.columns=unique_col_names(ct_df.columns,"chow_time")
ct_df.head()
#ct_df.columns=unique_col_names(ct_df.columns,"chow_time")
ct_df2=pd.concat([f1['installation_id'],ct_df],axis=1)
ct_df2.head()
#scale contents average
#append the rest of the dataset to the ct_df

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,coordinates.stage_height_chow_time,coordinates.stage_width_chow_time,coordinates.x_chow_time,coordinates.y_chow_time,correct_chow_time,duration_chow_time,event_code_chow_time,event_count_chow_time,game_time_chow_time,round_chow_time,scale_weight_chow_time,weight_chow_time,scale_contents_avg_chow_time
0,0006c192,762,1015,336,362,True,584,4020,17,16536,1,3,3,3.000000
1,0006c192,762,1015,354,373,False,934,4020,22,18936,1,6,3,3.000000
2,0006c192,762,1015,411,407,False,850,4020,27,22085,1,7,1,2.333333
3,0006c192,762,1015,323,423,False,568,4020,33,27120,1,8,1,2.000000
4,0006c192,762,1015,384,620,False,534,4020,39,30270,1,8,1,2.000000

In [23]:
import json
f2=filtered_game_df[filtered_game_df['title']=='Scrub-A-Dub']
f2['indy']=range(0,len(f2['installation_id']))
f2.set_index('indy',inplace=True)
sd_df=pd.io.json.json_normalize(f2.event_data.apply(json.loads))
sd_df.columns=unique_col_names(sd_df.columns,"scrub-a-dub")
sd_df2=pd.concat([f2['installation_id'],sd_df],axis=1)
sd_df.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,animal_scrub-a-dub,coordinates.stage_height_scrub-a-dub,coordinates.stage_width_scrub-a-dub,coordinates.x_scrub-a-dub,coordinates.y_scrub-a-dub,correct_scrub-a-dub,event_code_scrub-a-dub,event_count_scrub-a-dub,game_time_scrub-a-dub,item_type_scrub-a-dub,level_scrub-a-dub,position_scrub-a-dub,round_scrub-a-dub,size_scrub-a-dub
0,hog,1082,2028,1392,311,True,4020,10,24773,Tub,1,2,1,3
1,chicken,1082,2028,808,309,True,4020,16,28824,Tub,1,1,2,0
2,hog,1082,2028,872,277,True,4020,26,39808,Water,2,1,3,3
3,chicken,1082,2028,1398,355,True,4020,32,41975,Water,2,2,4,0
4,hog,1082,2028,846,345,True,4020,41,52112,Soap,3,1,5,3

In [24]:
import json
f3=filtered_game_df[filtered_game_df['title']=='All Star Sorting']
f3['indy']=range(0,len(f3['installation_id']))
f3.set_index('indy',inplace=True)
ass_df=pd.io.json.json_normalize(f3.event_data.apply(json.loads))
ass_df.head()
# total size_b total size_a
#dinos present a dinos present b

#dino name 1,2,3,4,5 size,1,2,3,4,5
#cont=event_sorter(ass_df['dinosaurs'],cols=['dino_1','dino_2','dino_3','dino_4','dino_5'])
#cont2=event_sorter(ass_df['dinosaurs_placed'],cols=['dino_1','dino_2','dino_3','dino_4','dino_5'])

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,coordinates.stage_height,coordinates.stage_width,coordinates.x,coordinates.y,correct,dinosaur,dinosaurs,dinosaurs_placed,duration,event_code,event_count,game_time,house.position,house.size,round,size
0,762,1015,830,388,False,don,"[{'name': 'none', 'size': 0}, {'name': 'stacey', 'size': 4}, {'name': 'petey', 'size': 2}]","[{'size': 0, 'name': 'none'}, {'size': 0, 'name': 'none'}, {'size': 3, 'name': 'don'}]",1832,4020,12,15777,3,2,1,3
1,762,1015,683,403,False,stacey,"[{'name': 'none', 'size': 0}, {'name': 'none', 'size': 0}, {'name': 'petey', 'size': 2}]","[{'size': 0, 'name': 'none'}, {'size': 4, 'name': 'stacey'}, {'size': 3, 'name': 'don'}]",550,4020,14,16911,2,3,1,4
2,762,1015,440,414,True,stacey,"[{'name': 'none', 'size': 0}, {'name': 'buddy', 'size': 3}, {'name': 'petey', 'size': 2}]","[{'size': 4, 'name': 'stacey'}, {'size': 0, 'name': 'none'}, {'size': 0, 'name': 'none'}]",799,4020,12,13691,1,4,1,4
3,762,1015,838,418,False,buddy,"[{'name': 'none', 'size': 0}, {'name': 'none', 'size': 0}, {'name': 'petey', 'size': 2}]","[{'size': 4, 'name': 'stacey'}, {'size': 0, 'name': 'none'}, {'size': 3, 'name': 'buddy'}]",800,4020,17,16941,3,2,1,3
4,762,1015,657,381,False,petey,"[{'name': 'none', 'size': 0}, {'name': 'none', 'size': 0}, {'name': 'none', 'size': 0}]","[{'size': 4, 'name': 'stacey'}, {'size': 2, 'name': 'petey'}, {'size': 3, 'name': 'buddy'}]",1250,4020,26,27058,2,3,1,2

In [25]:
cont=event_sorter(ass_df['dinosaurs'],cols=['dino_1','dino_2','dino_3','dino_4','dino_5'])

In [26]:
cont2=event_sorter(ass_df['dinosaurs_placed'],cols=['dino_placed_1','dino_placed_2','dino_placed_3','dino_placed_4','dino_placed_5'])

In [27]:
dict_split_1=sub_dict_parser(cont['dino_1'])
dict_split_2=sub_dict_parser(cont['dino_2'])
dict_split_3=sub_dict_parser(cont['dino_3'])
dict_split_4=sub_dict_parser(cont['dino_4'])
dict_split_5=sub_dict_parser(cont['dino_5'])
super_df2=pd.concat([dict_split_1,dict_split_2,dict_split_3,dict_split_4,dict_split_5],axis=1)
super_df2.columns=['size_1','name_1','size_2','name_2',
                   'size_3','name_3','size_4','name_4','size_5','name_5']

In [28]:
dict_placed_1=sub_dict_parser(cont2['dino_placed_1'])
dict_placed_2=sub_dict_parser(cont2['dino_placed_2'])
dict_placed_3=sub_dict_parser(cont2['dino_placed_3'])
dict_placed_4=sub_dict_parser(cont2['dino_placed_4'])
dict_placed_5=sub_dict_parser(cont2['dino_placed_5'])
super_df3=pd.concat([dict_placed_1,dict_placed_2,dict_placed_3,dict_placed_4,dict_placed_5],axis=1)
super_df3.columns=['size_placed_1','name_placed_1','size_placed_2','name_placed_2',
                   'size_placed_3','name_placed_3','size_placed_4','name_placed_4','size_placed_5','name_placed_5']

In [29]:
ass_df_final=pd.concat([ass_df,super_df2,super_df3],axis=1)
ass_df_final.columns=unique_col_names(ass_df_final.columns,"all_star_sorting")

In [30]:
ass_df_final_2=pd.concat([f3['installation_id'],ass_df_final],axis=1)
ass_df_final_2.drop(['dinosaurs_all_star_sorting','dinosaurs_placed_all_star_sorting'],axis=1,inplace=True)

In [31]:
import json
f4=filtered_game_df[filtered_game_df['title']=='Dino Drink']
f4['indy']=range(0,len(f4['installation_id']))
f4.set_index('indy',inplace=True)
dd_df=pd.io.json.json_normalize(f4.event_data.apply(json.loads))
dd_df.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,coordinates.stage_height,coordinates.stage_width,coordinates.x,coordinates.y,correct,event_code,event_count,game_time,hole_position,holes,position,round,shell_size
0,406,1015,400,256,False,4020,31,63306,1,"[{'size': 2, 'filled': False}, {'size': 3, 'filled': False}]",3,1,1
1,406,1015,537,258,True,4020,39,87691,2,"[{'size': 2, 'filled': False}, {'size': 3, 'filled': True}]",2,1,3
2,406,1015,400,256,True,4020,49,100159,1,"[{'size': 2, 'filled': True}, {'size': 3, 'filled': True}]",1,1,2
3,406,1015,675,269,True,4020,58,113943,3,"[{'size': 3, 'filled': False}, {'size': 2, 'filled': False}, {'size': 2, 'filled': True}]",3,2,2
4,406,1015,400,256,True,4020,63,127161,1,"[{'size': 3, 'filled': True}, {'size': 2, 'filled': False}, {'size': 2, 'filled': True}]",2,2,3

In [32]:
hole_df_ext=event_sorter(dd_df['holes'],cols=['hole_1','hole_2','hole_3','hole_4','hole_5'])

In [33]:
dict_split_1=sub_dict_parser(hole_df_ext['hole_1'])
dict_split_2=sub_dict_parser(hole_df_ext['hole_2'])
dict_split_3=sub_dict_parser(hole_df_ext['hole_3'])
dict_split_4=sub_dict_parser(hole_df_ext['hole_4'])
dict_split_5=sub_dict_parser(hole_df_ext['hole_5'])
super_df1=pd.concat([dict_split_1,dict_split_2,dict_split_3,dict_split_4,dict_split_5],axis=1)
super_df1.columns=['size_hole_1','filled_1','size_hole_2','filled_2',
                   'size_hole_3','filled_3','size_hole_4','filled_4','size_hole_5','filled_5']

In [34]:
dd_df_final=pd.concat([dd_df,super_df1],axis=1)
dd_df_final.drop('holes',axis=1,inplace=True)
dd_df_final.head()
dd_df_final.columns=unique_col_names(dd_df_final.columns,"dino_drink")

In [35]:
dd_df_final_2=pd.concat([f4['installation_id'],dd_df_final],axis=1)
dd_df_final_2.head()

,installation_id,coordinates.stage_height_dino_drink,coordinates.stage_width_dino_drink,coordinates.x_dino_drink,coordinates.y_dino_drink,correct_dino_drink,event_code_dino_drink,event_count_dino_drink,game_time_dino_drink,hole_position_dino_drink,...,size_hole_1_dino_drink,filled_1_dino_drink,size_hole_2_dino_drink,filled_2_dino_drink,size_hole_3_dino_drink,filled_3_dino_drink,size_hole_4_dino_drink,filled_4_dino_drink,size_hole_5_dino_drink,filled_5_dino_drink
0,0001e90f,406,1015,400,256,False,4020,31,63306,1,...,2,False,3,False,2,True,2,False,2,False
1,0001e90f,406,1015,537,258,True,4020,39,87691,2,...,2,False,3,True,2,True,2,False,2,False
2,0001e90f,406,1015,400,256,True,4020,49,100159,1,...,2,True,3,True,2,True,2,False,2,True
3,0001e90f,406,1015,675,269,True,4020,58,113943,3,...,3,False,2,False,2,True,2,True,2,True
4,0001e90f,406,1015,400,256,True,4020,63,127161,1,...,3,True,2,False,3,False,2,True,2,True

In [36]:
import json
f5=filtered_game_df[filtered_game_df['title']=='Bubble Bath']
f5['indy']=range(0,len(f5['installation_id']))
f5.set_index('indy',inplace=True)
bb_df=pd.io.json.json_normalize(f5.event_data.apply(json.loads))
bb_df.head()
bb_df.columns=unique_col_names(bb_df.columns,"bubble_bath")
bb_df2=pd.concat([f5['installation_id'],bb_df],axis=1)
bb_df2.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,containers_bubble_bath,coordinates.stage_height_bubble_bath,coordinates.stage_width_bubble_bath,coordinates.x_bubble_bath,coordinates.y_bubble_bath,correct_bubble_bath,event_code_bubble_bath,event_count_bubble_bath,game_time_bubble_bath,position_bubble_bath,round_bubble_bath,target_containers_bubble_bath
0,0006a69f,5,541,1014,594,484,False,4020,38,37351,3,1,4
1,0006a69f,6,541,1014,463,479,False,4020,80,94012,2,2,3
2,0006a69f,5,541,1014,616,512,False,4020,15,40040,3,1,4
3,0006a69f,4,541,1014,344,478,True,4020,52,97176,1,2,4
4,0006c192,8,541,1014,469,475,True,4020,41,42795,2,1,8

In [37]:
import json
f6=filtered_game_df[filtered_game_df['title']=='Crystals Rule']
f6['indy']=range(0,len(f6['installation_id']))
f6.set_index('indy',inplace=True)
cr_df=pd.io.json.json_normalize(f6.event_data.apply(json.loads))
cr_df.head()
cr_df.columns=unique_col_names(cr_df.columns,"crystals_rule")
cr_df2=pd.concat([f6['installation_id'],cr_df],axis=1)
cr_df2.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,coordinates.stage_height_crystals_rule,coordinates.stage_width_crystals_rule,coordinates.x_crystals_rule,coordinates.y_crystals_rule,correct_crystals_rule,event_code_crystals_rule,event_count_crystals_rule,game_time_crystals_rule,group_crystals_rule,object_type_crystals_rule,position_crystals_rule,round_crystals_rule
0,0006a69f,524,1014,889,396,True,4020,9,20590,3,block,2,1
1,0006a69f,524,1014,890,211,False,4020,25,31616,2,crayon,1,2
2,0006a69f,524,1014,926,405,True,4020,33,39274,3,crayon,2,2
3,0006a69f,524,1014,888,398,True,4020,16,19963,3,toothbrush,2,1
4,0006a69f,524,1014,867,200,True,4020,29,30655,2,paperclip,1,2

In [38]:
import json
f7=filtered_game_df[filtered_game_df['title']=='Dino Dive']
f7['indy']=range(0,len(f7['installation_id']))
f7.set_index('indy',inplace=True)
dd2_df=pd.io.json.json_normalize(f7.event_data.apply(json.loads))
dd2_df.head()
dd2_df.columns=unique_col_names(dd2_df.columns,"deep_dive")
dd2_df2=pd.concat([f7['installation_id'],dd2_df],axis=1)
dd2_df2.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,coordinates.stage_height_deep_dive,coordinates.stage_width_deep_dive,coordinates.x_deep_dive,coordinates.y_deep_dive,correct_deep_dive,dinosaur_deep_dive,event_code_deep_dive,event_count_deep_dive,game_time_deep_dive,round_deep_dive,size_deep_dive,water_level_deep_dive
0,0006c192,468,1014,508,156,False,mikey,4020,74,59949,1,1,1
1,0006c192,468,1014,200,115,True,sonny,4020,85,70832,1,6,6
2,0006c192,468,1014,470,164,True,teri,4020,94,84998,2,1,1
3,0006c192,468,1014,483,159,False,teri,4020,125,102783,3,1,1
4,0006c192,468,1014,521,173,False,mikey,4020,131,107085,3,1,2

In [39]:
import json
f8=filtered_game_df[filtered_game_df['title']=='Pan Balance']
f8['indy']=range(0,len(f8['installation_id']))
f8.set_index('indy',inplace=True)
pb_df=pd.io.json.json_normalize(f8.event_data.apply(json.loads))
pb_df.head()
#
pb_df.columns=unique_col_names(pb_df.columns,"pan_balance")
pb_df2=pd.concat([f8['installation_id'],pb_df],axis=1)
pb_df2.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,correct_pan_balance,duration_pan_balance,event_code_pan_balance,event_count_pan_balance,game_time_pan_balance,round_pan_balance,table_weights_pan_balance,target_weight_pan_balance,weights_pan_balance
0,001d0ed0,False,150,4020,10,21889,1,4,1,2
1,001d0ed0,False,1467,4020,17,28489,1,3,1,3
2,001d0ed0,False,1300,4020,23,34990,1,2,1,4
3,001d0ed0,True,1784,4020,39,88394,1,5,1,1
4,001d0ed0,False,1066,4020,42,91494,1,4,1,2

In [47]:
import json
f9=filtered_game_df[filtered_game_df['title']=='Happy Camel']
f9['indy']=range(0,len(f9['installation_id']))
f9.set_index('indy',inplace=True)
hc_df=pd.io.json.json_normalize(f9.event_data.apply(json.loads))
hc_df.head()
#scale contents 1 and scale contents 2
cont=event_sorter(hc_df['scale_contents'],cols=['contents_1','contents_2'])
hc_df2=pd.concat([hc_df,cont],axis=1)
hc_df2.drop(['scale_contents'],axis=1,inplace=True)
hc_df2.columns=unique_col_names(hc_df2.columns,"happy_camel")
hc_df2.head()
hc_df3=pd.concat([f9['installation_id'],hc_df2],axis=1)
hc_df3.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,installation_id,bowl_id_happy_camel,coordinates.stage_height_happy_camel,coordinates.stage_width_happy_camel,coordinates.x_happy_camel,coordinates.y_happy_camel,correct_happy_camel,event_code_happy_camel,event_count_happy_camel,game_time_happy_camel,position_happy_camel,round_happy_camel,source_happy_camel,contents_1_happy_camel,contents_2_happy_camel
0,0016b7cc,1,541,1014,821,422,True,4020,109,65770,1,1,resources,empty,empty
1,0016b7cc,2,541,1014,821,422,True,4020,124,84905,2,2,scale,bowl,empty
2,0016b7cc,2,541,1014,821,422,False,4020,138,100822,1,3,scale,empty,bowl
3,0016b7cc,3,541,1014,821,422,True,4020,147,106873,3,3,resources,empty,empty
4,0016b7cc,2,541,1014,821,422,True,4020,175,136074,2,4,scale,bowl,empty

In [48]:
import json
import numpy as np
f10=filtered_game_df[filtered_game_df['title']=='Air Show']
f10['indy']=range(0,len(f10['installation_id']))
f10.set_index('indy',inplace=True)
as_df=pd.io.json.json_normalize(f10.event_data.apply(json.loads))

#o=0
t_means=[]
for i in as_df['target_distances']:
    t_means.append(np.mean(i))
    #print(as_df['target_distances'][o])
    #o=o+1
as_df['target2']=t_means
as_df.head()

#np.mean(as_df['target_distances'][0])
#target distance average or sum

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,correct,dinosaur,distance,event_code,event_count,game_time,round,target_distances,target2
0,False,tiny,3,4020,62,109097,1,"[5, 6, 7, 8, 9, 10]",7.5
1,True,tiny,5,4020,64,110063,1,"[5, 6, 7, 8, 9, 10]",7.5
2,True,tiny,7,4020,67,110472,1,"[5, 6, 7, 8, 9, 10]",7.5
3,True,tiny,10,4020,70,110880,1,"[5, 6, 7, 8, 9, 10]",7.5
4,False,don,9,4020,94,131323,2,"[5, 6, 7]",6.0

In [49]:
as_df.drop(['target_distances'],axis=1,inplace=True)
as_df.columns=unique_col_names(as_df.columns,"air_show")
as_df2=pd.concat([f10['installation_id'],as_df],axis=1)
as_df2.head()

,installation_id,correct_air_show,dinosaur_air_show,distance_air_show,event_code_air_show,event_count_air_show,game_time_air_show,round_air_show,target2_air_show
0,0006a69f,False,tiny,3,4020,62,109097,1,7.5
1,0006a69f,True,tiny,5,4020,64,110063,1,7.5
2,0006a69f,True,tiny,7,4020,67,110472,1,7.5
3,0006a69f,True,tiny,10,4020,70,110880,1,7.5
4,0006a69f,False,don,9,4020,94,131323,2,6.0

In [50]:
import json
f11=filtered_game_df[filtered_game_df['title']=='Leaf Leader']
f11['indy']=range(0,len(f11['installation_id']))
f11.set_index('indy',inplace=True)
ll_df=pd.io.json.json_normalize(f11.event_data.apply(json.loads))
ll_df.head()

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,coordinates.stage_height,coordinates.stage_width,coordinates.x,coordinates.y,correct,dinosaur,dinosaur_count,dinosaur_weight,event_code,event_count,game_time,mode,round,weight
0,406,1015,251,274,True,shiny,1,2,4020,19,54957,add,1,2
1,406,1015,320,274,True,tiny,2,2,4020,20,59112,add,1,4
2,406,1015,320,336,True,buddy,3,2,4020,21,60731,add,1,6
3,406,1015,320,274,True,tiny,1,2,4020,29,75672,add,2,2
4,406,1015,320,336,True,buddy,2,2,4020,30,79393,add,2,4

In [51]:
ll_df.columns=unique_col_names(ll_df.columns,"leaf_leader")
ll_df2=pd.concat([f11['installation_id'],ll_df],axis=1)
ll_df2.head()

,installation_id,coordinates.stage_height_leaf_leader,coordinates.stage_width_leaf_leader,coordinates.x_leaf_leader,coordinates.y_leaf_leader,correct_leaf_leader,dinosaur_leaf_leader,dinosaur_count_leaf_leader,dinosaur_weight_leaf_leader,event_code_leaf_leader,event_count_leaf_leader,game_time_leaf_leader,mode_leaf_leader,round_leaf_leader,weight_leaf_leader
0,00279ac5,406,1015,251,274,True,shiny,1,2,4020,19,54957,add,1,2
1,00279ac5,406,1015,320,274,True,tiny,2,2,4020,20,59112,add,1,4
2,00279ac5,406,1015,320,336,True,buddy,3,2,4020,21,60731,add,1,6
3,00279ac5,406,1015,320,274,True,tiny,1,2,4020,29,75672,add,2,2
4,00279ac5,406,1015,320,336,True,buddy,2,2,4020,30,79393,add,2,4

In [52]:
final_game_df_all=pd.concat([as_df2,hc_df3,pb_df2,dd2_df2,cr_df2,bb_df2,dd_df_final_2,ass_df_final_2,sd_df2,ct_df2,ll_df2],axis=1)

In [54]:
final_game_df_all.head()

,installation_id,correct_air_show,dinosaur_air_show,distance_air_show,event_code_air_show,event_count_air_show,game_time_air_show,round_air_show,target2_air_show,installation_id,...,correct_leaf_leader,dinosaur_leaf_leader,dinosaur_count_leaf_leader,dinosaur_weight_leaf_leader,event_code_leaf_leader,event_count_leaf_leader,game_time_leaf_leader,mode_leaf_leader,round_leaf_leader,weight_leaf_leader
0,0006a69f,False,tiny,3.0,4020.0,62.0,109097.0,1.0,7.5,0016b7cc,...,True,shiny,1.0,2.0,4020.0,19.0,54957.0,add,1.0,2.0
1,0006a69f,True,tiny,5.0,4020.0,64.0,110063.0,1.0,7.5,0016b7cc,...,True,tiny,2.0,2.0,4020.0,20.0,59112.0,add,1.0,4.0
2,0006a69f,True,tiny,7.0,4020.0,67.0,110472.0,1.0,7.5,0016b7cc,...,True,buddy,3.0,2.0,4020.0,21.0,60731.0,add,1.0,6.0
3,0006a69f,True,tiny,10.0,4020.0,70.0,110880.0,1.0,7.5,0016b7cc,...,True,tiny,1.0,2.0,4020.0,29.0,75672.0,add,2.0,2.0
4,0006a69f,False,don,9.0,4020.0,94.0,131323.0,2.0,6.0,0016b7cc,...,True,buddy,2.0,2.0,4020.0,30.0,79393.0,add,2.0,4.0

In [55]:
inst_names=[]
io= 1
for i in final_game_df_all['installation_id'].columns:
    inst_names.append(i+'_'+str(io))
    io=io+1

In [ ]:
#turn round into a string and dummies

In [34]:
pf=final_game_df_all['installation_id']
pf.columns=inst_names
pf.head()
full_ids=pf['installation_id_10']

In [35]:
final_game_df_all.drop(['installation_id'],axis=1,inplace=True)
final_game_df_all.head()

,correct_air_show,dinosaur_air_show,distance_air_show,event_code_air_show,event_count_air_show,game_time_air_show,round_air_show,target2_air_show,bowl_id_happy_camel,coordinates.stage_height_happy_camel,...,correct_leaf_leader,dinosaur_leaf_leader,dinosaur_count_leaf_leader,dinosaur_weight_leaf_leader,event_code_leaf_leader,event_count_leaf_leader,game_time_leaf_leader,mode_leaf_leader,round_leaf_leader,weight_leaf_leader
0,False,tiny,3.0,4020.0,62.0,109097.0,1.0,7.5,1.0,541.0,...,True,shiny,1.0,2.0,4020.0,19.0,54957.0,add,1.0,2.0
1,True,tiny,5.0,4020.0,64.0,110063.0,1.0,7.5,2.0,541.0,...,True,tiny,2.0,2.0,4020.0,20.0,59112.0,add,1.0,4.0
2,True,tiny,7.0,4020.0,67.0,110472.0,1.0,7.5,2.0,541.0,...,True,buddy,3.0,2.0,4020.0,21.0,60731.0,add,1.0,6.0
3,True,tiny,10.0,4020.0,70.0,110880.0,1.0,7.5,3.0,541.0,...,True,tiny,1.0,2.0,4020.0,29.0,75672.0,add,2.0,2.0
4,False,don,9.0,4020.0,94.0,131323.0,2.0,6.0,2.0,541.0,...,True,buddy,2.0,2.0,4020.0,30.0,79393.0,add,2.0,4.0

In [60]:
final_game_df_all.shape

(131972, 175)

In [64]:
#do the same for postion
for i in final_game_df_all.columns:
    if 'round' in i | 'position' in i:
        popo=0
        for j in final_game_df_all[i]:
            final_game_df_all[i][popo]=str(j)
            popo=popo+1

KeyboardInterrupt:

In [63]:
i

'round_air_show'

In [37]:
full_df_with_dummies=handle_strings(final_game_df_all)

In [38]:
full_df_with_dummies['full_ids']=full_ids

In [39]:
filled_full_df_with_dummies=full_df_with_dummies.fillna(0)

In [41]:
new_cols=full_df_with_dummies.columns
new_cols=new_cols[:-1]
new_cols

Index([                   'distance_air_show',
                        'event_code_air_show',
                       'event_count_air_show',
                         'game_time_air_show',
                             'round_air_show',
                           'target2_air_show',
                        'bowl_id_happy_camel',
       'coordinates.stage_height_happy_camel',
        'coordinates.stage_width_happy_camel',
                  'coordinates.x_happy_camel',
       ...
                                      'buddy',
                                        'don',
                                      'mikey',
                                        'ned',
                                      'shiny',
                                      'sonny',
                                       'teri',
                                       'tiny',
                                        'add',
                                     'remove'],
      dtype='object', length=310)

In [42]:
final=unique_list(full_df_with_dummies['full_ids'])

In [43]:
unique_col_names=[]
io= 1
for i in filled_full_df_with_dummies.columns:
    unique_col_names.append(str(i)+'_'+str(io))
    io=io+1

In [44]:
filled_full_df_with_dummies.columns=unique_col_names

In [45]:
inst_df=pd.DataFrame(index=final,columns=unique_col_names)

In [46]:
lolo=0
#final=unique_list(full_df_with_dummies['full_ids'])
for i in final:
    #lolo=0
    love=filled_full_df_with_dummies[(filled_full_df_with_dummies['full_ids_311']==i)]
    love.drop('full_ids_311',axis=1,inplace=True)
    for j in love.columns:
        if 'stage' in j:
            inst_df[j][lolo]=int(stats.mode(love[j]))
        elif 'round' in j:
            inst_df[j][lolo]=int(stats.max(love[j]))
        elif 'size' in j | 'weight' in j:
            inst_df[j][lolo]=int(np.mean(love[j]))
        else:
            inst_df[j][lolo]=sum(love[j])
    #print(inst_df['target'][lolo])
        #print(j)
        #print(inst_df[j][lolo])
        
        #print(sum(love[j]))
        #print(lolo)
    #print(inst_df.ix[lolo])
    lolo=lolo+1

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [47]:
game_full_df=inst_df.drop('full_ids_311',axis=1)

In [46]:
def drop_group(df,str_contain):
    for i in df.columns:
        if str_contain in i:
            df.drop(i,axis=1,inplace=True)
    return df

In [ ]:
drop_group(game_full_df,'event_code')

In [48]:
filled_full_df_with_dummies=full_df_with_dummies.fillna(0)

In [50]:
filtered_df=df1[(df1['title']=='Cart Balancer (Assessment)') | (df1['title']=='Cauldron Filler (Assessment)') | (df1['title']=='Mushroom Sorter (Assessment)') | (df1['title']=='Chest Sorter (Assessment)') | (df1['title']=='Bird Measurer (Assessment)')]

In [58]:
df3=pd.read_csv('specs.csv')

In [59]:
first_m=pd.merge(filtered_df,df3,on='event_id')

In [60]:
full_tandt=pd.merge(first_m,df2,on='installation_id')

In [61]:
final_filter_df=full_tandt[(full_tandt['title_x']==full_tandt['title_y'])]

In [62]:
ffd_df=final_filter_df[(final_filter_df['event_code']==4100)|(final_filter_df['event_code']==4110)]

In [63]:
f1=ffd_df[ffd_df['title_x']=='Chest Sorter (Assessment)']
cs_df=pd.io.json.json_normalize(f1.event_data.apply(json.loads))
first=event_sorter(cs_df['pillars'],cols=['chest_l', 'chest_c','chest_r'])

In [64]:
f2=ffd_df[ffd_df['title_x']=='Bird Measurer (Assessment)']
bm_df=pd.io.json.json_normalize(f2.event_data.apply(json.loads))
bm_df['caterpillars']=bm_df['caterpillars'].fillna("n")
sixth=event_sorter(bm_df['caterpillars'],cols=['cat_p_l','cat_p_c','cat_p_r'])
bm_df=pd.io.json.json_normalize(f2.event_data.apply(json.loads))

In [65]:
f3=ffd_df[ffd_df['title_x']=='Cauldron Filler (Assessment)']
cf_df=pd.io.json.json_normalize(f3.event_data.apply(json.loads))

In [66]:
second=event_sorter(cf_df['buckets'],cols=['caul_l_b','caul_c_b','caul_r_b'])
third=event_sorter(cf_df['buckets_placed'],cols=['caul_l_a','caul_c_a','caul_r_a'])

In [67]:
f4=ffd_df[ffd_df['title_x']=='Mushroom Sorter (Assessment)']
ms_df=pd.io.json.json_normalize(f4.event_data.apply(json.loads))
fourth=event_sorter(ms_df['stumps'],cols=['mush_l','mush_c','mush_r'])

In [68]:
f5=ffd_df[ffd_df['title_x']=='Cart Balancer (Assessment)']
cb_df=pd.io.json.json_normalize(f5.event_data.apply(json.loads))

In [69]:
import json
ent=cb_df['left']
cols=['weight_l','gems_l','weight_r','gems_r']
fifth=pd.DataFrame(index=range(0,len(ent)),columns=cols)
ny=0
for i in cb_df['left']:
    w=0
    for j in i:
        w=w+j.get('weight')
    fifth['weight_l'][ny]=w
    fifth['gems_l'][ny]=len(i)
    ny=ny+1
ny=0
for i in cb_df['right']:
    w=0
    for j in i:
        w=w+j.get('weight')
    fifth['weight_r'][ny]=w
    fifth['gems_r'][ny]=len(i)
    ny=ny+1

In [70]:
ind=ffd_df['installation_id']
sg=[]
for o in range(0,len(ind)):
    sg.append(o)
ffd_df['new']=sg

C:\Users\603766\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [71]:
ffd_df.set_index('new',inplace=True)

In [72]:
super_df=pd.concat([ffd_df,first,second,third,fourth,fifth,sixth],axis=1)
filled_df=super_df.fillna(0)

In [73]:
inst_ids=set(filled_df['installation_id'].values)
final=list(inst_ids)
len(final)

3614

In [74]:
filled_df.replace('n',0,inplace=True)
filled_df.replace('None',0,inplace=True)

In [75]:
#inst_ids=set(filled_df['installation_id'].values)
#final=list(inst_id)
new_cols=['time_spent','total_event_count','av_num_correct',
          'av_num_incorrect','world','number_of_sessions','total_game_time','chest_l',
       'chest_c', 'chest_r', 'caul_l_b', 'caul_c_b', 'caul_r_b', 'caul_l_a',
       'caul_c_a', 'caul_r_a', 'mush_l', 'mush_c', 'mush_r', 'weight_l',
       'gems_l', 'weight_r', 'gems_r', 'cat_p_l', 'cat_p_c', 'cat_p_r','av_accuracy','accuracy_group','target']
inst_df=pd.DataFrame(index=final,columns=new_cols)
lolo=0
for i in final:
    love=filled_df[(filled_df['installation_id']==i)]
    p=list(love['accuracy_group'])
    inst_df['target'][lolo]=p[-1]
    love.drop(love.tail(1).index,inplace=True)
    inst_df['total_event_count'][i]=sum(love['event_count'])
    inst_df['av_num_correct'][i]=np.mean(love['num_correct'])
    inst_df['av_num_incorrect'][i]=sum(love['num_incorrect'])
    inst_df['number_of_sessions'][i]=len(love['game_session_x'])
    inst_df['av_num_correct'][i]=sum(love['num_correct'])
    inst_df['chest_l'][i]=sum(love['chest_l'])
    inst_df['chest_c'][i]=sum(love['chest_c'])
    inst_df['chest_r'][i]=sum(love['chest_r'])
    inst_df['caul_l_b'][i]=sum(love['caul_l_b'])
    inst_df['caul_c_b'][i]=sum(love['caul_c_b'])
    inst_df['caul_r_b'][i]=sum(love['caul_r_b'])
    inst_df['caul_l_a'][i]=sum(love['caul_l_a'])
    inst_df['caul_c_a'][i]=sum(love['caul_c_a'])
    inst_df['caul_r_a'][i]=sum(love['caul_r_a'])
    inst_df['mush_l'][i]=sum(love['mush_l'])
    inst_df['mush_c'][i]=sum(love['mush_c'])
    inst_df['mush_r'][i]=sum(love['mush_r'])
    inst_df['cat_p_l'][i]=sum(love['cat_p_l'])
    inst_df['cat_p_c'][i]=sum(love['cat_p_c'])
    inst_df['cat_p_r'][i]=sum(love['cat_p_r'])
    inst_df['gems_l'][i]=sum(love['gems_l'])
    #inst_df['gems_c'][i]=sum(love['gems_c'])
    inst_df['gems_r'][i]=sum(love['gems_r'])
    inst_df['weight_l'][i]=sum(love['weight_l'])
    #inst_df['weight_c'][i]=sum(love['weight_c'])
    inst_df['weight_r'][i]=sum(love['weight_r'])
    #print(inst_df['target'][lolo])
    lolo=lolo+1

In [76]:
asess_df=inst_df.drop(['world','total_game_time','av_accuracy','accuracy_group'],axis=1)

In [77]:
full_df_of_all=pd.merge(asess_df,game_full_df,how='inner',left_index=True)

In [ ]:
full_df_of_all.fillna(0,inplace=True)

In [78]:
full_df_of_all.drop('time_spent',axis=1,inplace=True)

In [79]:
import pickle
file=open('ultimate_df_pickle.pkl','wb')
pickle.dump(full_df_of_all,file)
file.close()

In [80]:
infile = open('ultimate_df_pickle.pkl','rb')  
# load the object from the file into var b
b = pickle.load(infile)
infile.close()