In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('../DSB_DF/train.csv')

In [3]:
df1.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [4]:
df1['type'].value_counts()

Game          5795293
Activity      4436728
Assessment     925345
Clip           183676
Name: type, dtype: int64

In [5]:
filtered_df=df1[(df1['title']=='Cart Balancer (Assessment)') | (df1['title']=='Cauldron Filler (Assessment)') | (df1['title']=='Mushroom Sorter (Assessment)') | (df1['title']=='Chest Sorter (Assessment)') | (df1['title']=='Bird Measurer (Assessment)')]

In [6]:
filtered_df2=df1[(df1['title']=='Sandcastle Builder (Activity)') | (df1['title']=='Bottle Filler (Activity)') | (df1['title']=='Fireworks (Activity)') | (df1['title']=='Bug Measurer (Activity)') | (df1['title']=='Chicken Balancer (Activity)') | (df1['title']=='Watering Hole (Activity)') | (df1['title']=='Flower Waterer (Activity)') | (df1['title']=='Egg Dropper (Activity)') ]

In [7]:
filtered_df.shape

(925345, 11)

In [8]:
df2=pd.read_csv('train_labels.csv')

In [9]:
df2.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [10]:
filtered_df['title'].value_counts()

Mushroom Sorter (Assessment)    199595
Chest Sorter (Assessment)       190318
Bird Measurer (Assessment)      190164
Cauldron Filler (Assessment)    181925
Cart Balancer (Assessment)      163343
Name: title, dtype: int64

In [11]:
df3=pd.read_csv('specs.csv')

In [12]:
first_m=pd.merge(filtered_df,df3,on='event_id')

In [13]:
df2['title'].value_counts()

Cart Balancer (Assessment)      4151
Cauldron Filler (Assessment)    4055
Mushroom Sorter (Assessment)    3757
Chest Sorter (Assessment)       2981
Bird Measurer (Assessment)      2746
Name: title, dtype: int64

In [14]:
df3.head()

,event_id,info,args
0,2b9272f4,The end of system-initiated feedback (Correct)...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
1,df4fe8b6,The end of system-initiated feedback (Incorrec...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
2,3babcb9b,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
3,7f0836bf,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
4,ab3136ba,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."

In [15]:
first_m=pd.merge(df1,df3,on='event_id')

In [16]:
first_m.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world,info,args
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts pl...,"[{""name"":""event_count"",""type"":""int"",""info"":""se..."
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK,This event is triggered when a video starts pl...,"[{""name"":""event_count"",""type"":""int"",""info"":""se..."
2,27253bdc,091587ed87b9637c,2019-09-06T18:10:51.183Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 2,Clip,MAGMAPEAK,This event is triggered when a video starts pl...,"[{""name"":""event_count"",""type"":""int"",""info"":""se..."
3,27253bdc,3fce4f09769ff0b7,2019-09-06T18:18:11.250Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Tree Top City - Level 1,Clip,TREETOPCITY,This event is triggered when a video starts pl...,"[{""name"":""event_count"",""type"":""int"",""info"":""se..."
4,27253bdc,04168b61c0650977,2019-09-06T18:18:42.392Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Ordering Spheres,Clip,TREETOPCITY,This event is triggered when a video starts pl...,"[{""name"":""event_count"",""type"":""int"",""info"":""se..."

In [17]:
full_tandt=pd.merge(first_m,df2,on='installation_id')

In [18]:
full_tandt.head()

,event_id,game_session_x,timestamp,event_data,installation_id,event_count,event_code,game_time,title_x,type,world,info,args,game_session_y,title_y,num_correct,num_incorrect,accuracy,accuracy_group
0,27253bdc,34ba1a28d02ba8ba,2019-08-06T04:57:18.904Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts pl...,"[{""name"":""event_count"",""type"":""int"",""info"":""se...",6bdf9623adc94d89,Mushroom Sorter (Assessment),1,0,1.0,3
1,27253bdc,34ba1a28d02ba8ba,2019-08-06T04:57:18.904Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts pl...,"[{""name"":""event_count"",""type"":""int"",""info"":""se...",77b8ee947eb84b4e,Bird Measurer (Assessment),0,11,0.0,0
2,27253bdc,34ba1a28d02ba8ba,2019-08-06T04:57:18.904Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts pl...,"[{""name"":""event_count"",""type"":""int"",""info"":""se...",901acc108f55a5a1,Mushroom Sorter (Assessment),1,0,1.0,3
3,27253bdc,34ba1a28d02ba8ba,2019-08-06T04:57:18.904Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts pl...,"[{""name"":""event_count"",""type"":""int"",""info"":""se...",9501794defd84e4d,Mushroom Sorter (Assessment),1,1,0.5,2
4,27253bdc,34ba1a28d02ba8ba,2019-08-06T04:57:18.904Z,"{""event_code"": 2000, ""event_count"": 1}",0006a69f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE,This event is triggered when a video starts pl...,"[{""name"":""event_count"",""type"":""int"",""info"":""se...",a9ef3ecb3d1acc6a,Bird Measurer (Assessment),1,0,1.0,3

In [ ]:
final_filter_df=full_tandt[(full_tandt['title_x']==full_tandt['title_y'])]

In [ ]:
final_filter_df.shape

In [ ]:
final_filter_df['title_x'].value_counts()

In [ ]:
final_filter_df['title_y'].value_counts()

In [ ]:
full_tandt['title_x'].value_counts()

In [ ]:
full_tandt['title_y'].value_counts()

In [ ]:
full_tandt['type'].value_counts()

In [ ]:
final_filter_df.head()

In [ ]:
ffd_df=final_filter_df[(final_filter_df['event_code']==4100)|(final_filter_df['event_code']==4110)]

In [ ]:
import json
ffd_df['title_x'].value_counts()

In [ ]:
def event_sorter(ent,cols):
    df=pd.DataFrame(index=range(0,len(ent)),columns=cols)
    c=df.columns
    num=0
    for i in ent:
        e=0
        #print(i)

        for k in i:
            cc=c[e]
            df[cc][num]=k
            e=e+1
            #print(k)
        num=num+1
    return df

In [ ]:
f1=ffd_df[ffd_df['title_x']=='Chest Sorter (Assessment)']
cs_df=pd.io.json.json_normalize(f1.event_data.apply(json.loads))

In [ ]:
cs_df.head()

In [ ]:
first=event_sorter(cs_df['pillars'],cols=['chest_l', 'chest_c','chest_r'])

In [ ]:
f2=ffd_df[ffd_df['title_x']=='Bird Measurer (Assessment)']
bm_df=pd.io.json.json_normalize(f2.event_data.apply(json.loads))
bm_df['caterpillars']=bm_df['caterpillars'].fillna("n")
sixth=event_sorter(bm_df['caterpillars'],cols=['cat_p_l','cat_p_c','cat_p_r'])

In [ ]:
bm_df=pd.io.json.json_normalize(f2.event_data.apply(json.loads))
bm_df.head()

In [ ]:
f3=ffd_df[ffd_df['title_x']=='Cauldron Filler (Assessment)']
cf_df=pd.io.json.json_normalize(f3.event_data.apply(json.loads))

In [ ]:
cf_df.head()

In [ ]:
second=event_sorter(cf_df['buckets'],cols=['caul_l_b','caul_c_b','caul_r_b'])
third=event_sorter(cf_df['buckets_placed'],cols=['caul_l_a','caul_c_a','caul_r_a'])

In [ ]:
f4=ffd_df[ffd_df['title_x']=='Mushroom Sorter (Assessment)']
ms_df=pd.io.json.json_normalize(f4.event_data.apply(json.loads))

In [ ]:
ms_df.head()

In [ ]:
fourth=event_sorter(ms_df['stumps'],cols=['mush_l','mush_c','mush_r'])

In [ ]:
f5=ffd_df[ffd_df['title_x']=='Cart Balancer (Assessment)']
cb_df=pd.io.json.json_normalize(f5.event_data.apply(json.loads))

In [ ]:
cb_df['right'][3]

In [ ]:
import json
cols=['weight_l','gems_l','weight_r','gems_r']
fifth=pd.DataFrame(index=range(0,len(ent)),columns=cols)
ny=0
for i in cb_df['left']:
    w=0
    for j in i:
        w=w+j.get('weight')
    fifth['weight_l'][ny]=w
    fifth['gems_l'][ny]=len(i)
    ny=ny+1

In [ ]:
ny=0
for i in cb_df['right']:
    w=0
    for j in i:
        w=w+j.get('weight')
    fifth['weight_r'][ny]=w
    fifth['gems_r'][ny]=len(i)
    ny=ny+1

In [ ]:
fifth.head()

In [ ]:
ind=ffd_df['installation_id']
sg=[]
for o in range(0,len(ind)):
    sg.append(o)
ffd_df['new']=sg

In [ ]:
ffd_df.set_index('new',inplace=True)

In [ ]:
super_df=pd.concat([ffd_df,first,second,third,fourth,fifth,sixth],axis=1)
filled_df=super_df.fillna(0)

In [ ]:
filled_df['game_session_y']

In [ ]:
#Cart left right dictionaries
#Bird catterpillars list 3
#Cauldren  buckets 000 132, buckets_placed list 3
#Chest Sorter pillars list 3
#Mushroom stumps list 3
filled_df.columns

In [ ]:
import numpy as np
np.mean([1,2,3])

In [ ]:
inst_ids=set(filled_df['installation_id'].values)
final=list(inst_ids)
len(final)

In [ ]:
#inst_ids=set(filled_df['installation_id'].values)
#final=list(inst_id)
new_cols=['time_spent','total_event_count','av_num_correct',
          'av_num_incorrect','world','number_of_sessions','total_game_time','chest_l',
       'chest_c', 'chest_r', 'caul_l_b', 'caul_c_b', 'caul_r_b', 'caul_l_a',
       'caul_c_a', 'caul_r_a', 'mush_l', 'mush_c', 'mush_r', 'weight_l',
       'gems_l', 'weight_r', 'gems_r', 'cat_p_l', 'cat_p_c', 'cat_p_r','av_accuracy','accuracy_group']
inst_df=pd.DataFrame(index=final,columns=new_cols)
for i in final:
    love=filled_df[(filled_df['installation_id']==i)]
    inst_df['total_event_count'][i]=sum(love['event_count'])
    inst_df['av_num_correct'][i]=np.mean(love['num_correct'])
    inst_df['av_num_incorrect'][i]=np.mean(love['num_incorrect'])
    inst_df['number_of_sessions'][i]=len(love['game_session_x'])
    inst_df['av_num_correct'][i]=np.mean(love['num_correct'])

In [ ]:
inst_ids

In [ ]:
len(inst_ids)

In [ ]:
col=['cart_left','cart_right','cat_p_l','cat_p_c',
     'cat_p_r','caul_l_b','caul_c_b','caul_r_b',
     'caul_l_a','caul_c_a','caul_r_a','mush_l',
     'mush_c','mush_r','chest_l', 'chest_c','chest_r']

In [ ]:
import json
extracted_event_data = pd.io.json.json_normalize(ffd_df.event_data.apply(json.loads))

In [ ]:
extracted_event_data.columns

In [ ]:
extracted_event_data.head()

In [ ]:
extracted_event_data['pillars'].value_counts()

In [ ]:
#seperate based on type, this is how we will divide the attributes and receive the results
#To receive them each group will have to be analzed seperately 
#ignore specific attributes of the games and the overalapping attributes each can be generalized

In [ ]:
filtered_df=full_tandt[(full_tandt['event_code']==4100) | (full_tandt['event_code']==4110)]

In [ ]:
filtered_df.shape

In [ ]:
filtered_df.head()

In [ ]:
import json
extracted_event_data = pd.io.json.json_normalize(filtered_df.event_data.apply(json.loads))

In [ ]:
extracted_event_data